Source: mdadm
Section: admin
Priority: optional
Maintainer: Debian mdadm maintainers <pkg-mdadm-devel@lists.alioth.debian.org>
Uploaders: martin f. krafft <madduck@debian.org>, Mario Joussen <joussen@debian.org>
Build-Depends: debhelper (>= 5.0.32), po-debconf, dpatch, groff-base
Standards-Version: 3.7.2

Package: mdadm
Architecture: any
Depends: ${shlibs:Depends}, makedev, ${misc:Depends}, lsb-base (>= 3.1-6)
Recommends: mail-transport-agent
Replaces: mdctl
Conflicts: mdctl (<< 0.7.2), raidtools2 (<< 1.00.3-12.1), initramfs-tools (<< 0.65)
Description: tool to administer Linux MD device arrays (software RAID)
 mdadm is a program that can be used to create, manage, and monitor MD
 devices (software RAID), as well as multipath devices.

Package: mdadm-udeb
Section: debian-installer
XC-Package-Type: udeb
Architecture: any
Depends: ${shlibs:Depends}
Description: tool to administer Linux MD device arrays (software RAID)
 mdadm is a program that can be used to create, manage, and monitor MD
 devices (software RAID), as well as multipath devices.
 .
 mdadm-udeb is a minimal package used by the debian-installer.
